body {
    font-family: Arial;
    color: #1b1717;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #810100;
}

.container {
    width: 100%;
    max-width: 550px;
    padding: 2rem;
    background-color: #f2f3e0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1px;
}

.table-container {
    width: 100%;
    max-width: 650px;
    padding: 50px;
    background-color: #f2f3e0;
    border-radius: 8px;
}

.register-container {
    width: 100%;
    max-width: 310px;
    padding: 50px;
    background-color: #f2f3e0;
    border-radius: 8px;
    text-align: center;
}

table, td, th { 
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

th {
    background-color: lightgray;
    text-align: center;
}

th, td {
    padding: 15px;
}

.btn-link {
    color: #810100;
    text-align: center;
    display: block;       
    margin-top: 20px;     
    text-decoration: none;
}

