body {
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff6e5;
}

.container {
    width: 100%;
    max-width: 420px;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-container {
    width: 100%;
    max-width: 650px;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table, td, th { 
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

th {
    background-color: lightgray;
    text-align: center;
}

th, td {
    padding: 15px;
}

.btn-link {
    color: red;
    text-align: center;
    display: block;       
    margin-top: 20px;     
    text-decoration: none;
}

